* {
  box-sizing: border-box;
  margin: 0;
  word-break: break-all;
  padding: 0;
}

/* body {
  background-image: url(./assets/paper.jpeg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
} */
